# Arduino IDE / Teensy / other IDEs temp files
.build/
build/
bin/
layout.ini

# KiCad temporary and backup files
**/*-backups/
**/*.bak
**/*.kicad_prl
**/*.lck
**/fp-info-cache
**/*.net

# Gerber/Production outputs
**/production/

# OS specific files
Thumbs.db
.DS_Store
